@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Inter', sans-serif;
    
    --sb-track-color: #c6d2d8;
    --sb-thumb-color: #232222;
    --sb-size: 6px;
  
    scrollbar-color: var(--sb-thumb-color) 
                     var(--sb-track-color);
}
  
::-webkit-scrollbar {
    width: var(--sb-size) 
}

::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 8px;
    border: 1px solid #c6d2d8;
}